# HTTPS automático (Let's Encrypt) para o painel, o domínio dos links e o site.
{$APP_DOMAIN}, {$LINK_DOMAIN} {
	encode gzip
	reverse_proxy app:3000
}

# Site público (vendas, privacidade, termos), também em site.dominio
{$SITE_DOMAIN:fuzildisparador.com.br}, site.{$SITE_DOMAIN:fuzildisparador.com.br} {
	encode gzip
	reverse_proxy app:3000
}

www.{$SITE_DOMAIN:fuzildisparador.com.br} {
	redir https://{$SITE_DOMAIN:fuzildisparador.com.br}{uri} permanent
}
